.skater-card-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* skater cards */

.skater-card{
    width: 245px;
    padding: 25px 12px ;
    margin: 15px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.bio{
    font-size: 14px;
}
.img-cont{
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}
.skater-name{
    padding: 10px 0;
}
.img-cont > img{
    width: 100%;
}
.info-cont{
    display: flex;
    flex-direction: column;

}
.dropdownBtn{
    margin: 0 auto;
}
.drop-down{
  
    padding-bottom: 15px;
}
.hThree{
    padding: 15px 0 10px 0;
}
.stats{
    padding-left: 20px;
}